---
import BaseHead from "@/components/BaseHead.astro";
import Footer from "@/components/layout/Footer.astro";
import Header from "@/components/layout/Header.astro";
import ThemeProvider from "@/components/ThemeProvider.astro";
import { siteConfig } from "@/site-config";

import ContentLayout from "@/layouts/ContentLayout.astro";
import { Content as ContentSponsor } from "../contents/sponsors.md";

const { title } = Astro.props;
---

<html lang={siteConfig.lang} class=''>
  <head>
    <BaseHead title={title} />
  </head>

  <body class='m-auto flex max-w-[50rem] justify-center bg-background'>
    <ThemeProvider />

    <div class='flex min-h-screen w-full flex-col items-center font-sans'>
      <Header />

      <div class='relative w-full bg-black pb-10 sm:h-[25rem]'>
        <div
          class="absolute inset-0 h-full bg-[url('/images/singapore_219.jpg')] bg-cover bg-center opacity-80 blur-[0px] dark:opacity-80 md:bg-[url('/images/seoul-sk.jpg')]"
        >
        </div>

        <div
          class='text-shadow-sm relative z-10 mx-auto my-5 px-5 pt-0 text-center font-display text-white text-shadow-blur-xl'
        >
          <h1 class='text-5xl font-bold'><a href='/'>ProbML 2026</a></h1>
          <h2 class='text-xl font-semibold'>
            Symposium on Probablistic Machine Learning
          </h2>
          <p class='text-base italic opacity-75'>(Previously Symposium on Advances in Approximate Bayesian Inference)</p>          
          <p class='text-lg'>Co-located with ICML 2026 in South Korea</p>
          <p class='text-lg'>July 5 2026</p>
          <p class='text-lg'>Venue: Seoul Trade Exhibition & Convention (SETEC)</p>
        </div>
      </div>

      <div class='w-[97.5%]'>
        <p class='text-right text-xs text-gray-400 dark:text-gray-500'>
          Photo by <a
            href='https://flickr.com/photos/126110866@N08/16995563645'
            class='underline'>Larry Koester</a>, <a href="https://creativecommons.org/licenses/by/2.0/">CC BY 2.0</a>, 
            via Flickr
        </p>
      </div>

      <main class='relative w-full pb-0 pt-10 leading-relaxed'>
        <slot />
        <!--
        <ContentLayout>
          <ContentSponsor />
        </ContentLayout>
        -->
      </main>

      <Footer />
    </div>
  </body>
</html>
